.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.input-field {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}
.login-heading {
  background-color: rgb(6, 94, 166);
  color: white;
  height: max-content;
  padding: 1% 20px;
  border-radius: 10px;
}
.submit-btn {
  background-color: rgb(6, 94, 166);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.welcome-heading {
  background-color: rgb(76, 225, 198);
  color: white;
  height: max-content;
  padding: 1% 20px;
  border-radius: 10px;
}
